<app-header></app-header>
<div class="container">
  <div class="row">
    <h2>Pronto</h2>
  </div>
  <div class="row">
    <ul>
      <li><span>Lavagem Básica</span></li>
      <li><span>Lavagem Básica</span></li>
      <li><span>Lavagem Básica</span></li>
    </ul>
  </div>
  <div class="row">
    <div class="card_observacoes">
      <div class="container">
        <div class="row">
          <span class="title_observacoes">Observação</span>
        </div>
        <div class="row margin_top">
          <span>A chave está na casa da Izildinha</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row margin_top">
    <div class="left-column">
      <div class="row">
        <span class="small_span">Próxima visita</span>
      </div>
      <div class="row">
        <span class="date_span">15/08</span>
      </div>
    </div>
    <div class="right-column">
      <div class="row">
        <span>R$</span><span class="price-plano">48</span>
      </div>
    </div>
  </div>
  <div class="row">
    <button type="submit" (click)="nextPage()">Ok</button>
  </div>
</div>