<div class="bg_garagem">
  <app-header></app-header>
  <div class="container">   
    <span class="title_white">Primeira vez?</span><br>
    <span class="title_white">Informe</span><br>
    <span class="title_white">seu carro.</span><br>
    <span>Bem vindo a sua garagem.</span>
    <div class="content-bottom">
      <div class=row>
        <button md-button class="btn_add_vehicle" (click)="NextPage()"><span>Adicionar Veículo</span><img src="../../../assets/imgs/icon_add_vehicle.svg" alt="" height="21"></button>
      </div>
    </div>
  </div>
</div>