<div class="bg_garagem">
  <app-header></app-header>
  <div class="container">  
    <div class="agenda_visita">
      <div class="calendario">
        <img src="../../../assets/imgs/bg_calendario.svg" width="82">
      </div>
      <span class="dia">15</span>
      <div class="data_agendamento">
        <span>Visita Agendada</span>
        <span>Terça-feira, 15 de agosto</span> 
      </div>
    </div>
    <div class="status_pedido">
      <div class="stats_order">
        <div class="icon_status">
            <img src="../../../assets/imgs/icon_gps_disable.svg" alt="" height="38">
        </div>
        <div class="line_status first-line">
        </div>
      </div>
      <div class="stats_order">
        <div class="icon_status">
            <img src="../../../assets/imgs/icon_car_disable.svg" alt="" height="38">
        </div>
        <div class="line_status"> 
        </div>
      </div>
      <div class="stats_order">
        <div class="icon_status">
            <img src="../../../assets/imgs/icon_finish_disable.svg" alt="" height="38">
        </div>
        <div class="line_status last-line"> 
        </div>
      </div>
    </div>
    <app-rating-pedido></app-rating-pedido>
    <div class="row align_itens">
      <button>Falar com a Carguru</button>
    </div>
  </div>
</div>