<div class="bg_roxo">
  <div class="container"> 
    <div class="logo-white">
      <img src="../../assets/imgs/logo_white.svg">
    </div>
    <div class="content_intro">
      <span class="small_span">Olá!</span><br>
      <span class="dark_pourple">A gente</span><br>
      <span class="big_span">lava seu</span><br>
      <span class="big_span">Carro onde</span><br>
      <span class="big_span">Você estiver</span>
    </div>
    <div class="modal_content">
      <div class="span_function">
        <span>Como funciona</span>
      </div>
      <div class="line-divider"></div>
      <button (click)="AbreModal()">
        <img src="../../assets/imgs/finger_modal.svg" alt="" height="80">
      </button>
    </div>
  </div>
</div>