.container{
    margin-top: 25px;
    float: left;
}
.card_add_vehicle {
    background: #fff;
    border-radius: 8px;
    float: left;
    width: 85%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom:25px;
}
.card_add_vehicle h2{
    text-align: left;
    font-family: 'Lato',sans-serif;
    font-size: 30px;
    color: #f65579;
    font-weight: 400;
}
button{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #0098f5;
    border-radius: 7px;
    border: none;
    font-family: 'Lato',sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 25px;
    outline: none;
}