<app-header></app-header>
<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <app-lavagem-basica class="FullWidthCard"></app-lavagem-basica>
        </div>
        <div class="swiper-slide">
            <app-lavagem-guru></app-lavagem-guru>
        </div>
        <div class="swiper-slide">
            <app-lavagem-premium></app-lavagem-premium>
        </div>
    </div>
   
    <div class="swiper-pagination"></div>
   
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper> 
