<div class="bg_garagem">
  <app-header></app-header>
  <div class="container">   
    <div class="title_car">
      <h2>Volkswagen Jetta</h2>
      <span>Seu carro terá o Check-up em 3 dias.</span>
    </div>
    <div class="car_thumb">
      <div class="car_img">
        <img src="../../../assets/imgs/Carro.svg" alt="">
      </div>
    </div>
    <div class="stats_car">
      <div class="pontos_carro">
        <span class="pts_title">{{pointsCar}}</span>
      </div>
      <div class="motor_carro icons_stats">
          <img src="../../../assets/imgs/gear_disable_icon.svg" alt="">
      </div>  
      <div class="riscos_carro icons_stats">
        <img src="../../../assets/imgs/alert_window_disable.svg" alt="">
      </div>
      <div class="oleo_carro icons_stats">
        <img src="../../../assets/imgs/icon_oil_disable.svg" alt="">
      </div>
      <div class="vidros_carro icons_stats">
        <img src="../../../assets/imgs/icon_window_disable.svg" alt="">
      </div>
      <div class="pneus_carro icons_stats">
        <img src="../../../assets/imgs/icon_wheel_disable.svg" alt="">
      </div>
    </div>
  </div>
</div>